@page
@model ServiceHost.Pages.AccessDeniedModel
<div class="text-center" style="font-size: 4em;">
    <p><strong>403 - دسترسی ممنوع</strong></p>
    <hr />
    <p>شما اجازه دسترسی به این صفحه را ندارید.</p>
</div>
