@{
    string title = "فروشگاه لامپ شیدا";
    if (ViewData["Title"] != null)
        title = $"{title} - {ViewData["Title"].ToString()}";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["MetaDescription"]" />
    <meta name="keywords" content="@ViewData["Keywords"]"/>
    <title>@title</title>

    <!-- Vendor CSS -->
    <link href="~/Theme/assets/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="~/Theme/assets/css/style.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Theme/assets/css/Custom.css" rel="stylesheet">
</head>

<body>
    <!--====================  header area ====================-->
    @await Component.InvokeAsync("Menu")
    <!--====================  End of header area  ====================-->

    @RenderBody()
    
    <!--====================  footer area ====================-->
    @await Component.InvokeAsync("Footer")
    <!--====================  End of footer area  ====================-->

   

    <!-- scroll to top  -->
    <div id="scroll-top">
        <span>بپر بالا</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
    </div>
    <!-- end of scroll to top -->
    <!-- Vendor JS -->
    <script src="~/Theme/assets/js/vendors.js"></script>

    <!-- Active JS -->
    <script src="~/Theme/assets/js/active.js"></script>

    <!-- Custom JS -->
    <script src="~/Theme/assets/js/custom.js" defer></script>

    <!-- Plugin JS -->
    <script src="~/Theme/assets/js/plugins.js" defer></script>

    <script>
        $(document).ready(function () {
            updateCart();
        });
    </script>

</body>

</html>